# idea folders
qr-code-component/.idea
blog-preview/.idea
newsletter-sign-up-form/.idea

.DS_Store
qr-code-component/node_modules
qr-code-component/.pnp
qr-code-component/.pnp.js
qr-code-component/.yarn/install-state.gz

# testing
qr-code-component/coverage

# next.js
qr-code-component/.next/
qr-code-component/out/

# production
qr-code-component/build

# misc
qr-code-component/.DS_Store
qr-code-component/*.pem

# debug
qr-code-component/npm-debug.log*
qr-code-component/yarn-debug.log*
qr-code-component/yarn-error.log*

# local env files
qr-code-component/.env*.local

# vercel
qr-code-component/.vercel

# typescript
qr-code-component/*.tsbuildinfo
qr-code-component/next-env.d.ts


blog-preview/node_modules
blog-preview/.pnp
blog-preview/.pnp.js
blog-preview/.yarn/install-state.gz

# testing
blog-preview/coverage

# next.js
blog-preview/.next/
blog-preview/out/

# production
blog-preview/build

# misc
blog-preview/.DS_Store
blog-preview/*.pem

# debug
blog-preview/npm-debug.log*
blog-preview/yarn-debug.log*
blog-preview/yarn-error.log*

# local env files
blog-preview/.env*.local

# vercel
blog-preview/.vercel

# typescript
blog-preview/*.tsbuildinfo
blog-preview/next-env.d.ts

# dependencies
newsletter-sign-up-form/node_modules
newsletter-sign-up-form/.pnp
newsletter-sign-up-form/.pnp.js
newsletter-sign-up-form/.yarn/install-state.gz

# testing
newsletter-sign-up-form/coverage

# next.js
newsletter-sign-up-form/.next/
newsletter-sign-up-form/out/

# production
newsletter-sign-up-form/build

# misc
newsletter-sign-up-form/.DS_Store
newsletter-sign-up-form/*.pem

# debug
newsletter-sign-up-form/npm-debug.log*
newsletter-sign-up-form/yarn-debug.log*
newsletter-sign-up-form/yarn-error.log*

# local env files
newsletter-sign-up-form/.env*.local

# vercel
newsletter-sign-up-form/.vercel

# typescript
newsletter-sign-up-form/*.tsbuildinfo
newsletter-sign-up-form/next-env.d.ts


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
news-homepage/node_modules
news-homepage/.pnp
news-homepage/.pnp.js
news-homepage/.yarn/install-state.gz

# testing
news-homepage/coverage

# next.js
news-homepage/.next/
news-homepage/out/

# production
news-homepage/build

# misc
news-homepage/.DS_Store
news-homepage/*.pem

# debug
news-homepage/npm-debug.log*
news-homepage/yarn-debug.log*
news-homepage/yarn-error.log*

# local env files
news-homepage/.env*.local

# vercel
news-homepage/.vercel

# typescript
news-homepage/*.tsbuildinfo
news-homepage/next-env.d.ts
news-homepage/.idea

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
multi-step-form/node_modules
multi-step-form/.pnp
multi-step-form/.pnp.js
multi-step-form/.yarn/install-state.gz

# testing
multi-step-form/coverage

# next.js
multi-step-form/.next/
multi-step-form/.idea/
multi-step-form/out/

# production
multi-step-form/build

# misc
multi-step-form/.DS_Store
multi-step-form/*.pem

# debug
multi-step-form/npm-debug.log*
multi-step-form/yarn-debug.log*
multi-step-form/yarn-error.log*

# local env files
multi-step-form/.env*.local

# vercel
multi-step-form/.vercel

# typescript
multi-step-form/*.tsbuildinfo
multi-step-form/next-env.d.ts

---

# dependencies
url-shortening-landing-page/node_modules
url-shortening-landing-page/.pnp
url-shortening-landing-page/.pnp.js
url-shortening-landing-page/.yarn/install-state.gz

# testing
url-shortening-landing-page/coverage

# next.js
url-shortening-landing-page/.next/
url-shortening-landing-page/.idea/
url-shortening-landing-page/out/

# production
url-shortening-landing-page/build

# misc
url-shortening-landing-page/.DS_Store
url-shortening-landing-page/*.pem

# debug
url-shortening-landing-page/npm-debug.log*
url-shortening-landing-page/yarn-debug.log*
url-shortening-landing-page/yarn-error.log*

# local env files
url-shortening-landing-page/.env*.local

# vercel
url-shortening-landing-page/.vercel

# typescript
url-shortening-landing-page/*.tsbuildinfo
url-shortening-landing-page/next-env.d.ts

---

# dependencies
space-tourism-website/node_modules
space-tourism-website/.pnp
space-tourism-website/.pnp.js
space-tourism-website/.yarn/install-state.gz

# testing
space-tourism-website/coverage

# next.js
space-tourism-website/.next/
space-tourism-website/.idea/
space-tourism-website/out/

# production
space-tourism-website/build

# misc
space-tourism-website/.DS_Store
space-tourism-website/*.pem

# debug
space-tourism-website/npm-debug.log*
space-tourism-website/yarn-debug.log*
space-tourism-website/yarn-error.log*

# local env files
space-tourism-website/.env*.local

# vercel
space-tourism-website/.vercel

# typescript
space-tourism-website/*.tsbuildinfo
space-tourism-website/next-env.d.ts

