@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .heading-m {
    @apply font-bold text-[32px] leading-[150%]
  }

  .heading-s {
    @apply font-bold text-[16px] leading-[150%]
  }

  .body-m {
    @apply text-[16px] leading-[150%]
  }

  .body-s {
    @apply text-[12px] leading-[150%]
  }
}
